[submodule "Scripts/nxc-sweep"]
	path = Scripts/nxc-sweep
	url = https://github.com/corey-farley/nxc-sweep
[submodule "Writeups/ProvingGrounds/Kevin/CVE-2009-2685"]
	path = Writeups/ProvingGrounds/Kevin/CVE-2009-2685
	url = https://github.com/Muhammd/HP-Power-Manager
[submodule "Writeups/ProvingGrounds/Internal/CVE-2009-3103"]
	path = Writeups/ProvingGrounds/Internal/CVE-2009-3103
	url = https://github.com/sec13b/ms09-050_CVE-2009-3103.git
[submodule "Writeups/ProvingGrounds/ClamAV/CVE-2007-4560"]
	path = Writeups/ProvingGrounds/ClamAV/CVE-2007-4560
	url = https://github.com/STK-Security/sendmail-clamav-exploit-CVE-2007-4560
[submodule "Writeups/ProvingGrounds/Snookums/SimplePHPGal-RCE"]
	path = Writeups/ProvingGrounds/Snookums/SimplePHPGal-RCE
	url = https://github.com/beauknowstech/SimplePHPGal-RCE.py.git
[submodule "Writeups/ProvingGrounds/Bratarina/CVE-2020-7247"]
	path = Writeups/ProvingGrounds/Bratarina/CVE-2020-7247
	url = https://github.com/superzerosec/cve-2020-7247
[submodule "Writeups/HackTheBox/Reactor/react2shell-exploit"]
	path = Writeups/HackTheBox/Reactor/react2shell-exploit
	url = https://github.com/surajhacx/react2shellpoc.git
[submodule "Writeups/HackTheBox/Reactor/node-inspector-rce"]
	path = Writeups/HackTheBox/Reactor/node-inspector-rce
	url = https://github.com/BHBarlow/node-inspector-rce.git
[submodule "Writeups/HackTheBox/CCTV/motionEye-RCE"]
	path = Writeups/HackTheBox/CCTV/motionEye-RCE
	url = https://github.com/prabhatverma47/motionEye-RCE-through-config-parameter
[submodule "Writeups/HackTheBox/Helix/CVE-2023-34468-POC"]
	path = Writeups/HackTheBox/Helix/CVE-2023-34468-POC
	url = https://github.com/sbouabid-sec/CVE-2023-34468-POC.git
[submodule "Writeups/HackTheBox/DevHub/CVE-2026-23744-PoC"]
	path = Writeups/HackTheBox/DevHub/CVE-2026-23744-PoC
	url = https://github.com/boroeurnprach/CVE-2026-23744-PoC.git
[submodule "Writeups/HackTheBox/SmartHire/CVE-2024-37054-PoC"]
	path = Writeups/HackTheBox/SmartHire/CVE-2024-37054-PoC
	url = https://github.com/jimmexploit/CVE-2024-37054-PoC.git
[submodule "Writeups/HackTheBox/Connected/CVE-2025-57819-PoC"]
	path = Writeups/HackTheBox/Connected/CVE-2025-57819-PoC
	url = https://github.com/b4sh2/CVE-2025-57819-poc.git
[submodule "Writeups/HackTheBox/Silentium/CVE-2025-58434-59528"]
	path = Writeups/HackTheBox/Silentium/CVE-2025-58434-59528
	url = https://github.com/AzureADTrent/CVE-2025-58434-59528.git
[submodule "Writeups/HackTheBox/Silentium/CVE-2025-8110"]
	path = Writeups/HackTheBox/Silentium/CVE-2025-8110
	url = https://github.com/Ghxstsec/CVE-2025-8110.git
[submodule "Writeups/HackTheBox/WingData/CVE-2025-47812"]
	path = Writeups/HackTheBox/WingData/CVE-2025-47812
	url = https://github.com/estebanzarate/CVE-2025-47812-Wing-FTP-Server-7.4.3-Unauthenticated-RCE-PoC.git
[submodule "Writeups/HackTheBox/WingData/CVE-2025-4517"]
	path = Writeups/HackTheBox/WingData/CVE-2025-4517
	url = https://github.com/AzureADTrent/CVE-2025-4517-POC.git
[submodule "Writeups/HackTheBox/Kobold/CVE-2026-23744-PoC"]
	path = Writeups/HackTheBox/Kobold/CVE-2026-23744-PoC
	url = https://github.com/boroeurnprach/CVE-2026-23744-PoC.git
[submodule "Writeups/HackTheBox/Kobold/CVE-2025-64714-Private-Bin"]
	path = Writeups/HackTheBox/Kobold/CVE-2025-64714-Private-Bin
	url = https://github.com/Medaz-Sploit/CVE-2025-64714-privatebin-2.0.2-PoC.git
[submodule "Writeups/HackTheBox/Netmon/CVE-2018-9276"]
	path = Writeups/HackTheBox/Netmon/CVE-2018-9276
	url = https://github.com/A1vinSmith/CVE-2018-9276.git
