[submodule "Scripts/nxc-sweep"]
	path = Scripts/nxc-sweep
	url = https://github.com/corey-farley/nxc-sweep
[submodule "Writeups/ProvingGrounds/Kevin/CVE-2009-2685"]
	path = Writeups/ProvingGrounds/Kevin/CVE-2009-2685
	url = https://github.com/Muhammd/HP-Power-Manager
[submodule "Writeups/ProvingGrounds/Internal/CVE-2009-3103"]
	path = Writeups/ProvingGrounds/Internal/CVE-2009-3103
	url = https://github.com/sec13b/ms09-050_CVE-2009-3103.git
[submodule "Writeups/ProvingGrounds/ClamAV/CVE-2007-4560"]
	path = Writeups/ProvingGrounds/ClamAV/CVE-2007-4560
	url = https://github.com/STK-Security/sendmail-clamav-exploit-CVE-2007-4560
[submodule "Writeups/ProvingGrounds/Snookums/SimplePHPGal-RCE"]
	path = Writeups/ProvingGrounds/Snookums/SimplePHPGal-RCE
	url = https://github.com/beauknowstech/SimplePHPGal-RCE.py.git
[submodule "Writeups/ProvingGrounds/Bratarina/CVE-2020-7247"]
	path = Writeups/ProvingGrounds/Bratarina/CVE-2020-7247
	url = https://github.com/superzerosec/cve-2020-7247
